<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Desks</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #358cb6;">
  <a class="navbar-brand">TODO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">Главная</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link disabled" href="#">Профиль</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link " href="#">Доски</a>
      </li>
    </ul>
    <span class="navbar-text">
      Лучшая задача - та которую вы уже сделали
    </span>
  </div>
</nav>

<div id="container" class="row">
  <th:block class="col-md-4 "  th:each="board : ${boards}">
    <div class="board  col-md-12 d-flex align-items-start border" style="background-color: #30b0c9;">
      <!--кнопка закрытия-->
      <button type="button" class="close m-2 float-left" aria-label="Close"  data-toggle="modal"  data-target="#messageDelete">
        <span aria-hidden="true" >&times;</span>
      </button>
      <div class=" m-2 d-flex align-items-center">
        <div class="col text-light">
          <a th:href="@{'board'+${board.boardID}+'/cards'}"><h2>Доска: <b><span th:text="${board.title}"></span></b></h2></a>
        </div>
      </div>
    </div>
      <div class="edit col-md-12">
        <a href="'/user'+${board.userID}/board" class="btn btn-outline-primary btn-sm btn-block"  data-target="#discriptionWindow" data-toggle="modal">Редактировать</a>
      </div>
  </th:block>
  <div class="board  m-2 col-md-3 d-flex justify-content-center" id="addBoard">
    <a th:href="${user.id}" class="d-flex justify-content-center  m-5"><img src="assets/addBoard.png"  alt="" width="80px"></a>
  </div>
</div>

<nav class="navbar col" id="footer">
  <h5></h5>
</nav>

  <!-- Удаление доски -->
  <div class="modal fade " id="messageDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Удаление доски</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Вы уверены, что хотите удалить эту доску? Действие является необратимым.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Вернуться</button>
          <button type="button" class="btn btn-primary">Удалить карточку</button>
        </div>
      </div>
    </div>
  </div>

<style type="text/css">
  body{
    background-color: #ffffff;
}
#header{
  background-color: #021216;
  height: 70px;
  width: 100%;
    padding: 0;
  padding-left: 20px;
}
#footer{
  background-color: #021216;
  height: 70px;
  width: 100%;
    padding: 0;
  padding-left: 20px;
}
#container{
margin-top:20vh;
  min-width: 500px;
max-width:75%;
  height: 80vh;
margin-left: auto;
margin-right: auto;
}
#addBoard{
align-items:  center;
}
.board{

  height: 300px;
min-width: 200px;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}
.edit{
  height: 300px;
min-width: 200px;
  margin: 10px;


}
p{
  font-family:inherit;
}
</style>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
<script src="js/anime.min.js"></script>
<script>
var animation = anime({
  targets: '#addBoard',
  scale: 1.5
});

</script>
</body>
</html>
