<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cards</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #358cb6;">
  <a class="navbar-brand">TODO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link " th:href="@{'/user' + ${board.userID} + '/boards'}">Доски</a>
      </li>
    </ul>
    <span class="navbar-text">
      Лучшая задача - та которую вы уже сделали
    </span>
  </div>
</nav>

<div class="row container-fluid" id="container">
  <th:block class="col-sm-3 m-3 typeCard" th:each="card : ${cards}">
    <div class="card">
      <div class="card-body">
        <div class="" >
          <!--кнопка закрытия-->
          <button type="button" class="close m-2 d-flex align-items-start" aria-label="Close"  data-toggle="modal"  data-target="#messageDelete">
            <a th:href="@{'/user' + ${card.userID} + '/boards/board' + ${card.boardID} + '/cards/card' + ${card.id} + '/delete'}"><span aria-hidden="true" >&times;</span></a>
          </button>
        </div>
        <h5 class="card-title"><span  th:text="${card.title}"></span></h5>
        <div id="cardInformation">
          <div th:switch="${card.status}">
            <span th:case="'COMPLETED'" class="badge badge-light col-md-3">Выполнено</span>
            <span th:case="'NOT_COMPLETED'" class="badge badge-light col-md-3">Не выполнено</span>
            <span th:case="'IN_PROCESS'" class="badge badge-light col-md-3">В процессе</span>
          </div>
          <span class="badge badge-light col-md-3" th:text="${card.endDate}"></span>
        </div>
        <p class="card-text mt-3" ><span th:text="${card.description}"></span></p>
        <a th:href="@{'/user' + ${card.userID} + '/boards/board' + ${card.boardID} + '/cards/card' + ${card.id} + '/update'}" ><button class="btn btn-primary">Подробнее</button></a>
      </div>
    </div>
  </th:block>
  <div class="col-sm-3 m-3 addCard d-flex align-items-center">
        <a th:href="@{'/user' + ${board.userID} + '/boards/board' + ${board.boardID} + '/cards/add'}" ><img th:src="@{/addBoard.png}"  alt=""  id="addCard"width="70px"></a>
  </div>
</div>

<nav class="navbar col" id="footer">
  <h5 class="text-light">Разработчик - Бродский Лев</h5>
</nav>

<style type="text/css">
  body{
    background-color: #ffffff;
}
#header{
  background-color: #021216;
  height: 70px;
  width: 100%;
    padding: 0;
  padding-left: 20px;
}
#footer{
  background-color: #021216;
  height: 70px;
  width: 100%;
    padding: 0;
  padding-left: 20px;
}
#container{
margin-top:20vh;
  min-width: 500px;
max-width:75%;
  height: 80vh;
margin-left: auto;
margin-right: auto;
}

.typeCard{
min-width: 250px;
  min-height: 200px;
max-height: 300px;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}
.addCard{

  min-height: 200px;
max-height: 200px;
  margin: 20px;
  padding: 10px;
}
.cardInformation{
  margin-top: 10px;
}
p{
  font-family:inherit;
}
</style>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
<script src="js/anime.min.js"></script>
<script>
var animation = anime({
  targets: '#addCard',
  scale: 1.5
});

</script>
</body>
</html>
